courses:
    - name: course_name_a
      repo: 'https://github.com/repo/for/course_a.git'
      instructor: instructor_a_username
    - name: course_name_b
      repo: 'https://github.com/repo/for/course_b.git'
