apiVersion: v1
kind: Pod
metadata:
  name: grading-proxy
  labels:
    app: grading-proxy-app
spec:
  restartPolicy: OnFailure
  containers:
  - name: proxy-container
    env:
    - name: JUPYTERHUB_API_URL
      value: API_URL_PLACEHOLDER
    - name: JUPYTERHUB_API_TOKEN
      value: API_TOKEN_PLACEHOLDER
    - name: HUB_NAMESPACE
      value: HUB_NAMESPACE_PLACEHOLDER
    image: PROXY-IMAGE
    imagePullPolicy: Always
    ports:
    - containerPort: 51017
---
apiVersion: v1
kind: Service
metadata:
  name: grading-service
spec:
  selector:
    app : grading-proxy-app
  ports:
  - name: grading-proxy-serv
    nodePort : 30000
    targetPort: 51017
    port : 9090
  type: NodePort
